.grafics .inforacoes {
    grid-column: span 2;
    margin-left: 20px;
  }
  
  .grafics .inforacoes h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-fonte-principal);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .grafics .inforacoes img {
    height: 30px;
  }
  
  .grafics .inforacoes p {
    font-size: 0.6rem;
    color: var(--cor-fonte-principal);
    margin-left: 43px;
  }
  
  .grafics {
    margin: 10px;
    background-color: var(--cor-de-fundo-section) !important;
    display: grid;
    grid-template-columns: 0.6fr 5fr;
    gap: 10px;
    padding: 10px;
    border: 2px solid var(--cor-de-contraste);
    border-radius: 10px;
    height: 90vh;
    box-sizing: border-box;
  }
  
  .left-box {
    background-color: var(--cor-de-fundo-secundaria) !important;
    border-radius: 5px;
  }
  
  .right-box {
    display: grid;
    gap: 10px;
    margin-right: 10px;
  }
  
  .row {
    display: grid;
    gap: 10px;
    justify-items: center;
  }
  
  .row:nth-child(1),
  .row:nth-child(2) {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .row:nth-child(3) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-item {
    margin-left: 10px;
    background-color: var(--cor-de-fundo-secundaria) !important;
    border-radius: 5px;
  }
  
  .grid-item.pequeno {
    width: 150px;
  }
  
  .grid-item.normal {
    width: 190px;
    height: 80px;
  }
  
  .grid-item.largo {
    width: 280px;
    height: 150px;
  }
  
  .grid-item.maior {
    width: 380px;
  }

  .grid-item.central {
    margin-top: 15px;
    margin-left: -1px;
  }
  .gridUm div,
  .gridDois div,
  .gridTrez div {
    width: 100%;
  }
  
  .gridDois div,
  .gridTrez div {
    height: 120px;
  }
  
  .gridTrez div {
    height: 150px;
  }
  