.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 150px;
    margin-top: 20px;
    padding: 10px;
}

.chart-bar {
    width: 30px;
    background-color: var(--cor-fonte-secundaria);
    margin: 0 10px;
    transition: height 0.3s ease-in-out;
}

.chart-label {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: #333;
    text-align: center;
    width: 100%;
}

.bar {
    background-color: var(--cor-fonte-secundaria);
    color: var(--cor-fonte-principal);
    position: relative;
    margin-bottom: 10px;
    width: 30px;
}

.bar span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

div.bar-label {
    display: none;
 
}

.gerarGrafico {
    background-color: transparent;
    color: var(--cor-fonte-principal);
    border: 1px solid var(--cor-fonte-principal);
    font-size: small;
    margin-top: 40px;
    border-radius: 5px;
    height: 40px;
}

.gerarGrafico:hover {
    background-color: var(--cor-fonte-secundaria);
}
