header.cabecalho {
  background-color: var(--cor-de-fundo-secundaria);
}

.navbar {
  background-color: transparent !important;
  color: var(--cor-fonte-principal) !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.navbar-nav.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav li {
  padding-left: 3px;
  padding-right: 3px;
}

.navbar-nav img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.form-control {
  max-width: 200px;
  max-height: 25px;
}

.navbar-nav .nav-link {
  color: var(--cor-fonte-secundaria) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--cor-fonte-principal) !important;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-control {
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 25px;
    height: 25px;
  }

  .navbar-nav.right {
    flex-wrap: wrap;
    gap: 10px;
  }

  .form-control {
    display: none;
  }
}
