.grafics .inforacoes {
    grid-column: span 2;
    margin-left: 20px;
}

.grafics .inforacoes h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-fonte-principal);
    display: flex;
    align-items: center;
    gap: 10px;
}

.grafics .inforacoes img {
    height: 30px;
}

.grafics .inforacoes p {
    font-size: 0.6rem;
    color: var(--cor-fonte-principal);
    margin-left: 43px;
}

.grafics {
    margin: 12px;
    background-color: var(--cor-de-fundo-section) !important;
    display: grid;
    grid-template-columns: 0.6fr 5fr;
    gap: 10px;
    padding: 10px;
    border: 2px solid var(--cor-de-contraste);
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
}

.left-box {
    background-color: var(--cor-de-fundo-secundaria) !important;
    color: var(--cor-fonte-principal);
    border-radius: 5px;
    position: sticky;
    top: 0;
    padding: 10px;
}

.left-box .label__option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-box .form-label {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--cor-fonte-principal);
}

.left-box .form-select {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--cor-fonte-principal);
    background-color: transparent;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 3px;
    padding: 5px;
    height: auto;
    appearance: none;
}

.left-box .form-select:focus {
    outline: none;
    border-color: var(--cor-de-contraste);
    background-color: var(--cor-de-fundo-secundaria);
    color: var(--cor-fonte-principal);
}

.left-box .form-select option {
    background-color: var(--cor-de-fundo-section);
    color: var(--cor-fonte-principal);
    font-weight: 400;
}

.filter {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--cor-fonte-principal);
}

.filter p{
    margin-top: 14px;
}

.filter i {
    font-size: 1rem;
}

.right-box {
    display: grid;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.row:nth-child(1),
.row:nth-child(2) {
    grid-template-columns: repeat(4, 1fr);
}

.row:nth-child(3) {
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    margin-left: 10px;
    background-color: var(--cor-de-fundo-secundaria) !important;
    border-radius: 5px;
}

.grid-item.pequeno {
    width: 150px;
}

.grid-item.normal {
    width: 190px;
    height: 80px;
}

.grid-item.largo {
    width: 280px;
    height: 150px;
}

.grid-item.maior {
    width: 380px;
}

.grid-item.central {
    margin-top: 15px;
    margin-left: -1px;
}

.gridUm div,
.gridDois div,
.gridTrez div {
    width: 100%;
}

.gridDois div,
.gridTrez div {
    height: 120px;
}

.gridTrez div {
    height: 150px;
}


@media (min-width: 1200px) {
    .grafics {
        grid-template-columns: 0.6fr 5fr;
    }

    .grafics .inforacoes {
        grid-column: span 2;
    }

    .row:nth-child(1),
    .row:nth-child(2) {
        grid-template-columns: repeat(4, 1fr);
    }

    .row:nth-child(3) {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item.normal {
        width: 100%;
    }

    .grid-item.pequeno {
        width: 100%;
    }

    .grid-item.largo {
        width: 100%;
        height: 150px;
    }

    .grid-item.maior {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .grafics {
        grid-template-columns: 1fr;
    }

    .grafics .inforacoes {
        grid-column: span 1;
    }

    .row:nth-child(1),
    .row:nth-child(2) {
        grid-template-columns: repeat(2, 1fr);
    }

    .row:nth-child(3) {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item.normal {
        width: 100%;
    }

    .grid-item.pequeno {
        width: 100%;
    }

    .grid-item.largo {
        width: 100%;
        height: 150px;
    }

    .grid-item.maior {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grafics {
        grid-template-columns: 1fr;
    }

    .grafics .inforacoes {
        grid-column: span 1;
        margin-left: 10px;
    }

    .row:nth-child(1),
    .row:nth-child(2) {
        grid-template-columns: 1fr;
    }

    .row:nth-child(3) {
        grid-template-columns: 1fr;
    }

    .grid-item.normal {
        width: 100%;
        height: 60px;
    }

    .grid-item.pequeno {
        width: 100%;
        height: 50px;
    }

    .grid-item.largo {
        width: 100%;
        height: 100px;
    }

    .grid-item.maior {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .grafics {
        grid-template-columns: 1fr;
    }

    .grafics .inforacoes {
        grid-column: span 1;
        margin-left: 5px;
    }

    .row:nth-child(1),
    .row:nth-child(2) {
        grid-template-columns: 1fr;
    }

    .row:nth-child(3) {
        grid-template-columns: 1fr;
    }

    .grid-item.normal {
        width: 100%;
        height: 50px;
    }

    .grid-item.pequeno {
        width: 100%;
        height: 40px;
    }

    .grid-item.largo {
        width: 100%;
        height: 80px;
    }

    .grid-item.maior {
        width: 100%;
    }
}
