
@import url('header.css');
@import url('opcoes.css');
@import url('grafics.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-de-fundo-principal: rgb(37, 60, 100);
  --cor-de-fundo-secundaria: rgb(32, 32, 76);
  --cor-de-fundo-section: rgb(60, 77, 106);
  --cor-fonte-secundaria: #7AC8F6;
  --cor-fonte-principal: rgb(255, 255, 255);
}

body {
  background-color: var(--cor-de-fundo-principal);
}
